:root {
    --offcanvas-width: 270px;
    --topNavbarHeight: 56px;
}

.sidebar-nav {
    width: var(--offcanvas-width) !important;
}

.sidebar-link {
    display: flex !important;
    align-items: center !important;
}

.sidebar-link .right-icon {
    display: inline-flex !important;
}

.sidebar-link[aria-expanded="true"] .right-icon-1 {
    transform: rotate(180deg) !important;
}

.sidebar-link[aria-expanded="true"] .right-icon-2 {
    transform: rotate(180deg) !important;
}

.sidebar-link[aria-expanded="true"] .right-icon-3 {
    transform: rotate(180deg) !important;
}

.footer {
    width: calc(100% - var(--offcanvas-width)) !important;
}

.main {
    padding-top: var(--topNavbarHeight);

}


.brand-text {
    font-size: medium !important;
}

.card-style{
    width: 8rem !important;
    height: 9rem !important;
}



@media (max-width: 400px){
    .brand-text{
        font-size: small !important;
    }

    /* .card-style{
        width: 2rem !important;
        height: 2rem !important;
    } */
}


@media (min-width: 992px) {
    .offcanvas-backdrop::before {
        display: none !important;
    }

    .sidebar-nav {
        transform: none !important;
        visibility: visible !important;
        top: var(--topNavbarHeight) !important;
        height: calc(100% - var(--topNavbarHeight)) !important;
    }

    .main {

        margin-left: var(--offcanvas-width) !important;


    }

    .footer {

        margin-left: var(--offcanvas-width) !important;

    }

}